.grayBackground {
  background-color: lightgray !important;
  margin-bottom: 30px;
}

.lecturerCard {
  display: flex;
  flex-direction: row;
}

.iconSection{
  width: 30%;
  text-align: center;
  border-right: 2px lightslategray solid;
  margin-right: 10%;
}

.lecturerIcon {
  font-size: 120px !important;
}

.lecturerDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.newGroupForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.newGroupForm > div{
  margin-bottom: 20px;
}
